{% extends 'webmain/base.html' %}
{% load static %}




{% block content %}

    <div>
        <img src="{% static 'assets/images/collection/image2.jpg' %}" height="100%" width="100%">
    </div><!--/.sofa-collection-->

    <section id="new-arrivals" class="new-arrivals">
        <div class="container">
            <div class="section-header">
                <h2>Contact Us</h2>
            </div><!--/.section-header-->
        </div>
    </section>

    <div class="container text-center">
        <div class="contact">
            <h2>Craft <span style="color:#e99c2e;">Decor</span></h2>
            <p>
                <br>National Highway 66, Iringal
                <br>Payyoli, Kozhikode
                <br>Kerala - 673 521.
            </p>

            <br><span class="lnr lnr-envelope"></span> craftdecoriringal@gmail.com<br>
									
			<br><span class="lnr lnr-phone"></span> +91 0496 2515119<br>
                +91 9846 005 458
        </div>

        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3909.0058333627007!2d75.60989457505345!3d11.551438888648415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTHCsDMzJzA1LjIiTiA3NcKwMzYnNDQuOSJF!5e0!3m2!1sen!2sin!4v1717412083137!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        
    </div>

    
{% endblock %}
