{% extends 'webmain/base.html' %}
{% load static %}




{% block content %}

    <div>
        <img src="{% static 'assets/images/collection/malabar_history.jpg' %}" height="100%" width="100%">
    </div><!--/.sofa-collection-->

    <section id="new-arrivals" class="new-arrivals">
        <div class="container">
            <div class="section-header">
                <h2>Kadathanad History</h2>
            </div><!--/.section-header-->
        </div>
    </section>


    <div class="container">


    <h3><b>VADAKARA HISTORY</b></h3>
    <br />

    <p>            
        <img class="imgright" src="{% static 'assets/images/collection/Rstation.JPG' %}" width="400px"> 

        Vadakara is the capital of old Kurumbranadu, which was inhabited by a tribal folk known as Kurumbrar. The name Kurumbranadu(Kadatanad) has its origin in the name of this tribe. A Nambiar Lord known as "Vadakara Vazhunnore" was the former ruler of this area.
    <br />
    
    Kadatanad is the land Kalaripayattu, the Kerala originated Martial Arts. The land is filled with the stories of great warriors like Thacholi Othenan and Kunjali Marakkar. Vadakara is also the birth place of Cherussery Namboodiripad , the great poet In 1934. Vadakara boasts a great martial tradition and was a flourishing trade and commerce centre in ancient times. Vadakara has a prominent place in the folklore of Kerala.<br />
    
    <img class="imgleft" src="{% static 'assets/images/collection/Masjid.JPG' %}" width="400px"> 

    Thazhe Angadi was the old Vadakara town and it was the largest market for coconut, areca nut etc. The goods came from nearby villages especially eastern part of vadakara.   Produce flow to the collection outlets which are dried packed and transported to other states.<br /><img alt="" src="images/Rstation.JPG" class="fltright"  />
    Still now Vadakara is a commercial focal point in Calicut (Kozhikode) district in Kerala State. Geographically, Vadakara is situated about 48 km to the north of Kozhikode City, approximately 44 km to the south of Kannur City and it is proximate to Mahe (Mahe district). This is the third largest town of North Malabar. The town lies by the side of a river known by different names as Moorad river, Kuttiadi river or Kotakkal river. Originally known as Vadakkekara (north shore) due to its position with respect to the Kottakkal puzha, the place came to be called as Vadakara by popular usage later. This city is also known as Badagara.<br />
     With all the amenities vital for a modern township. There are many Hospitals, Colleges, Schools, Govt. sponsored Technical Education Centers, Recreation and pastime facilities. National Highway 66 pass through Vadakara and many trains go through this place. <br />
    Vadakara mainly consists of 2 commercial hubs. The first hub is centering the old bus stand with commercial establishments as old as hundred years. Recently the trend has shifted to the new bus stand area and the road towards Kannur.<br />
    
    </p>
    <p>
    <br /><br />
    <h3><b>MALABAR & KOZHIKODE DISTRICT HISTORY</b></h3><br />
    <p>
    <img class="imgleft" src="{% static 'assets/images/collection/kozhikkode.jpeg' %}" width="500px"> 
    Kozhikode is a historical town with a hoary past. From time immemorial, the city attracted travelers, with its charming physical features and prosperity. Even today , the glory of Kozhikode Calicut) has not faded. 
    <br />
    Kozhikode was the capital of Malabar during the time of Zamorins who where ruling before the British Rule in India. It was trading in spices like black pepper and cardamom with the Jews, Arabs, Phoenicians, Chinese , Dutch and Portuguese more than 500 years ago.<br />
    </p>

    <p>    <img src="{% static 'assets/images/collection/Ship.JPG' %}"  alt="" class="imgright" />

    political history of Kozhikode is a story of treacherous and ill conceived conspiracies hatched by the Western powers. Vasco De Gama landed at Kappad in May 1498, as the leaders of a trade mission from Portugal and was received by the Zamorin himself.<br />
    The history of Kozhikode district as an administrative unit begins from January 1957.
    The states of the Indian Union were reorganized on linguistic basis on 1st November, 1956, the erstwhile Malabar district was separated from Madras state (Tamil Nadu) and added to the new unilingual state of Kerala. 
    But Malabar district was found to be too unwieldy for administrative purposes. Consequently the state government ordered the formation of three districts with certain changes in the boundaries of some of the taluks. 
    The Kozhikode district thus came into existence on 1st January 1957,orginally consisting of five taluks, Viz, Vadakara, Koyilandy, Kozhikode, Ernad & Tirur. 
    With the formation of malapuram district on 1st June 1969 & Wayandu on 1st November 1980, Kozhikode district now consist of one revenue division , three taluks, twelve blocks, 77 panchayats and 117 villages.
    </p>

    
    <br /><br /> 
    <h3><b>PLACES OF INTERESTS</b></h3>
    <br />
    <b><u>Birth Place of Kunjali Marakkar</u></b><br />

    <p>
        <img src="{% static 'assets/images/collection/Marakkar.JPG' %}" width="350px"  alt="" class="imgright" />
    The Marakkars were admirals of the Zamorins who valiantly resisted the Portuguese on the high seas. 
    
    Marakkar built a fort on the southern bank of the Moorad river.This fort was completely destroyed by the Portuguese at a later time. The place where the fort stood is known today as Kottakkal, 46 km south of Kozhikode. A small hut that belonged to Kunhali Marakkar with collections of ancient swords, cannonballs and knives can be seen here. <br /><br />
    </p>

    <br>
    <b><u>Lokanarkavu Temple</u></b><br />

    <p>
        <img src="{% static 'assets/images/collection/Lokanarkav.JPG' %}" width="350px"  alt="" class="imgright" />
    The Lokanarkavu situated at Memunda,
    6 kms from Vatakara, is a popular temple of North Malabar. This temple is associated with the heroes and heroines of Vadakkanpattu. In the vicinity of the temple there are three rock-cut caves. There are candid murals and carvings adorning the caves. The main deity is Goddess Durga. The festival, locally called Pooram, is celebrated during March/April. The temple is 1500 years old. There are two temples adjacent to the Lokanarkavu with Vishnu and Shiva as deities. Lokanarkavu goddess is named as Lokanarkavilamma which was the dearest god of Thacholi Othenan, a celebrated hero of Kadathanadu.<br /><br />
    
    <b><u>Sand Banks</u></b><br />
    <img src="{% static 'assets/images/collection/vadakara-sand-banks.jpeg' %}" width="350px"  alt="" class="imgleft" />

    A small peninsula with the Moorad river on the east
     the Arabian Sea on the west is located approximately 3 Kms towards the south of the town.
    This area is known as the Sandbanks. The Peninsula has a building called the Sandbanks Bungalow, which was built by Mr Wilfred Vincent Reilly in the year 1946. This bungalow and the land it stands on was sold on 04 Feb 1966 to Grasim Industries Ltd a company of the Aditya Birla Management Corporation Ltd, and is owned by the company till date. Adjacent to the bungalow is an open area which was previously under lease with Grasim Industries Ltd but was returned to the Government of Kerala in 2002. This area is now developed by the Harbour Dept of Government of Kerala and has been handed over to Vatakara Municipality for maintanence. Many tourists visit this place for a view of the sunset.<br /><br />
   
   </p>

    <b><u>Silent Beach (Kolavipalam Beach/Mini Goa)</u></b><br />

    <p>
    <img src="{% static 'assets/images/collection/kolavipalam.jpeg' %}" width="350px"  alt="" class="imgright" />
    This is an island like beach close to Sand banks, in fact just opposite to it. Still, reaching there takes another 7 km journey.<br /><br />


    <b><u>Velliyamkallu (Silver Rock)</u></b>
    <br>
     A massive rock,
      associated with the valiant Kunhali Marakkar is located 13 km off Payyoli Beach. The rock,though much dreaded by navigators, was safe ground for the Marakar to attack the invading Portuguese. It was on this rock that Marakars killed the whole crew of a ship belonging to the Portuguese.

    </p>
    
    <br>
    <br>

    </div>


{% endblock %}
        