{% extends 'webmain/base.html' %}
{% load static %}




{% block content %}

    <div>
            <img src="{% static 'assets/images/collection/image2.jpg' %}" height="100%" width="100%">
    </div><!--/.sofa-collection-->




    <!--CATEGORY WISE ITEMS-->

    
        <section id="new-arrivals" class="new-arrivals">
            <div class="container">
                <div class="section-header">
                    <h2>{{ cat.cat_name }}</h2>
                </div><!--/.section-header-->

                <div class="new-arrivals-content">
                    <div class="row">
                
                        <div class="col-md-8">
                            <!-- PRODUCTS COLUMNS-->
                            {% for pro in pros %}	
                                <div class="col-md-4 col-sm-4">
                                    <div class="single-new-arrival">
                                        <div class="single-new-arrival-bg">
                                            <img src="{{ pro.thumbnail.url }}" alt="new-arrivals images">
                                            <div class="single-new-arrival-bg-overlay"></div>
                                            {% if pro.tag %}	
                                                <div class="sale bg-2">
                                                    <p>{{ pro.tag }}</p>
                                                </div>
                                            {% endif %}
                                            <div class="new-arrival-cart">
                                                <p>
                                                    <span class="lnr lnr-star"></span>
                                                    <a href="https://api.whatsapp.com/send?text={{ product.name }}%20-%20{{ product.url }}" target="_blank">Enquire on WhatsApp</a>
                                                </p>
                                                <p class="arrival-review pull-right">
                                                    <span class="lnr lnr-heart"></span>
                                                    <span class="lnr lnr-frame-expand"></span>
                                                </p>
                                            </div>
                                        </div>
                                        <h4><a href="#">{{ pro.pro_name }}</a></h4> 
                                    
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        
                         <!-- Right Menu Pane -->
                        <div class="col-md-3 rightmenu">

                            {% include 'webmain/right_pane.html' %}

                         
                        </div>
                        
                    </div>
                </div>
            </div><!--/.container-->
        
        </section><!--/.new-arrivals-->
            <!--new-arrivals end -->

        
{% endblock %}
